<div class="slds-panel slds-grid slds-grid--vertical slds-nowrap" style="margin: 6px;padding: 10px; height : 70% ">
  <div class="slds-tile slds-tile--board">
    <div class="slds-tile__detail slds-text-heading--medium">
      <table>
        <tr>
          <td style="color:#53bbd4; font-size: 2em">{{revenue.pullIns}}</td>
          <td>Potential Order Pull-ins</td>
        </tr>
        <tr>
          <td style="color:#18aa4a; font-size: 2em">{{revenue.discounting}}</td>
          <td>Discounting</td>
        </tr>
        <tr>
          <td style="color:#ff8c30; font-size: 2em">{{revenue.substitution}}</td>
          <td>Substitution</td>
        </tr>
        <tr>
          <td style="color:#ff8c30; font-size: 2em">{{revenue.gap}}</td>
          <td>Forecast-Order Gap</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="slds-panel slds-grid slds-grid--vertical slds-nowrap" style="margin: 6px;padding: 10px; height: 30%">
  <div class="slds-tile slds-tile--board">
    <div class="slds-tile__detail slds-text-body--regular ">
      <table>
        <tr>
          <td>Quarter End :</td>
          <td>{{revenue.qEnd}}</td>
        </tr>
        <tr>
          <td>Last Quarter :</td>
          <td>{{revenue.lastQ}}</td>
        </tr>
        <tr>
          <td>Last Q Revenue Attainment :</td>
          <td>{{revenue.lastQAttainment}}</td>
        </tr>
        <tr>
          <td>Active Products :</td>
          <td>{{revenue.activeProducts}}</td>
        </tr>
        <tr>
          <td>Account Manager :</td>
          <td>{{revenue.accountManager}}</td>
        </tr>
        <tr>
          <td>Contact Phone :</td>
          <td>{{revenue.phone}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

