<div class="slds-grid slds-grid--vertical-align-center slds-m-top--medium ">
  <div class="slds-col slds-p-horizontal--small slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
    <div class="slds-text-heading--medium slds-align--absolute-center" style=" font-weight: bold;">My Dashboard</div>
  </div>
  <div class="slds-col">
    <div class="slds-button-group" role="group">
      <button class="slds-button slds-button--neutral toggle-button {{ rangeType == 0 ?  'button-pressed' : '' }}"
              (click)="setRangeType(0)">
        MTD
      </button>
      <button class="slds-button slds-button--neutral toggle-button {{ rangeType == 1 ?  'button-pressed' : '' }}"
              (click)="setRangeType(1)">QTD
      </button>
      <button class="slds-button slds-button--neutral toggle-button {{ rangeType == 2 ?  'button-pressed' : '' }}"
              (click)="setRangeType(2)">YTD
      </button>
    </div>
  </div>
  <div class="slds-col">
    <div class="slds-button-group" role="group">
      <button class="slds-button slds-button--icon">
        <svg aria-hidden="true" class="slds-button__icon">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chart"></use>
        </svg>
        <span class="slds-assistive-text">Settings</span>
      </button>
      <button class="slds-button slds-button--icon slds-button-space-left">
        <svg aria-hidden="true" class="slds-button__icon">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
        </svg>
        <span class="slds-assistive-text">Settings</span>
      </button>
    </div>
  </div>
</div>
<div class="slds-container--small slds-m-top--medium">
  <div class="slds-grid slds-grid--align-space">
    <div class="slds-col">
      <div class="slds-text-align--center"><h3
        class="slds-text-heading--small bottom-bar">Plan</h3>
      </div>
      <div class="slds-text-align--center"><h3 class="slds-text-heading--medium">{{currentSummary.plan}}</h3></div>
    </div>
    <div class="slds-col">
      <div class="slds-text-align--center"><h3
        class="slds-text-heading--small bottom-bar">Realized</h3>
      </div>
      <div class="slds-text-align--center"><h2 class="slds-text-heading--medium">{{currentSummary.realized}}</h2></div>
    </div>
    <div class="slds-col">
      <div class="slds-text-align--center"><h3
        class="slds-text-heading--small bottom-bar">Projected</h3>
      </div>
      <div class="slds-text-align--center"><h2 class="slds-text-heading--medium">{{currentSummary.projected}}</h2></div>
    </div>
    <div class="slds-col">
      <div class="slds-text-align--center"><h3
        class="slds-text-heading--small bottom-bar">At Risk</h3>
      </div>
      <div class="slds-text-align--center"><h3 class="slds-text-heading--medium">{{currentSummary.atRisk}}</h3></div>
    </div>
    <div class="slds-col">
      <div class="slds-text-align--center"><h3
        class="slds-text-heading--small bottom-bar">Days Left</h3>
      </div>
      <div class="slds-text-align--center"><h3 class="slds-text-heading--medium">{{currentSummary.daysLeft}}</h3></div>
    </div>
  </div>
</div>


