<div style="position: relative; top: 80px; left:calc(60% ) ;z-index: 10000;font-size: 24px;font-weight: bold">
  <span>72%&nbsp;&nbsp;<sup>
  <span class="slds-icon_container">
  <svg aria-hidden="true" class="slds-icon slds-icon-text-success slds-icon--x-small">
    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#up"></use>
  </svg>
  <span class="slds-assistive-text">Warning Icon</span>
  </span>&nbsp;&nbsp;<span style="color: #18aa4a; ">21%</span></sup></span>
</div>
<div id="chart-revenue-realized-dashboard"></div>
